*.log
*.pyc
*.sql
*.swp
*~
.DS_Store
.set_env.sh
/*.ez
/.cache
/.vagrant
/_build
/mix.lock
/npm-debug.log
/static/images/uploads
/priv/static/resource
/priv/upload
/rel
/web/static/.sass-cache/
/bin
/cdn/assets
/config/db.json
/config/prod.secret.exs
/db
/deps
/erl_crash.dump
/img
/logs
/pkg
/scripts
erl_crash.dump
robots.txt
node_modules/
bower_components/
